<robot name="omoda">

    <link name="base_link">

    </link>

    <link name="base_lidar">

    </link>

    <link name="velodynekanan">

    </link>

    <link name="velodynekiri">

    </link>

    <link name="velodynetengah">
    </link>

    <link name="lidartengah">
    </link>

    <link name="radar">
    </link>

    <link name="cameratengah">
    </link>

    <link name="camerakiri">
    </link>

    <link name="camerakanan">
    </link>

    <link name="cameracalib">
    </link>



    <joint name="base_joint" type="fixed">
        <parent link="base_link" />
        <child link="base_lidar" />
        <origin xyz="0.0 0.0 1.5" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="radar_joint" type="fixed">
        <parent link="base_link" />
        <child link="radar" />
        <origin xyz="2.2 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="velodyne1_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="velodynekanan" />
        <origin xyz="0.0 -0.45 0.231" rpy="0.78 0.0 0.0" />
    </joint>

    <joint name="velodyne2_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="velodynekiri" />
        <origin xyz="0.0 0.45 0.231" rpy="-0.78 0.0 0.0" />
    </joint>

    <joint name="velodyne3_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="velodynetengah" />
        <origin xyz="0.0 0.0 0.43" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="lidar3_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="lidartengah" />
        <origin xyz="0.0 0.0 0.43" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="camerakiri_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="camerakiri" />
        <origin xyz="0.240546 0.2273 0.19" rpy="0.0 0.0 0.959931089" />
    </joint>

    <joint name="cameratengah_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="cameratengah" />
        <origin xyz="0.4685 -0.093 0.18" rpy="0.0 -0.07  -0.01195" />
    </joint>

    <!-- <joint name="cameratengah_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="cameratengah" />
        <origin xyz="0.3585 0.0 0.19" rpy="0.0 0.0 0.0" />
    </joint> -->

    <joint name="camerakanan_joint" type="fixed">
        <parent link="base_lidar" />
        <child link="camerakanan" />
        <origin xyz="0.240546 -0.2273 0.19" rpy="0.0 0.0 -0.959931089" />
    </joint>

    <joint name="cameracalib_joint" type="fixed">
        <parent link="lidartengah" />
        <child link="cameracalib" />
        <origin xyz="0.57446866 -0.08339404 -1.0530726" rpy="0.75612054 -1.02291871  0.89599662" />
    </joint>

</robot>